body{
    background-image: url(https://images.unsplash.com/photo-1564951434112-64d74cc2a2d7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1868&q=80);
}

h1{
    color: rgb(20, 20, 20);
    font-style: oblique;
    text-align: center;
}

.titulo{
    width: 100%;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
    background-color: white;
}

p{
    text-align: center;
    line-height: 30pt;
    font-size: 16pt;
    color: #222;
}

.container{
    width: 100%;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
}

img.uno{
    width: 220px;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    box-sizing: border-box;
}

img.dos{
    width: 400px;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    box-sizing: border-box;
}

img.tres{
    width: 360px;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    box-sizing: border-box;
}

img.cuatro{
    width: 360px;
    border-style: solid;
    border-radius: 20px;
    align-items: center;
    box-sizing: border-box;
}

.container2{
    width: 100%;
	margin: auto;
	text-align: center;
	margin-bottom: 50px;
}

.fb{
    align-items: center;
    box-sizing: border-box;
}